h1 {
    text-align: center;
}
div {
    text-align: center;
}
.question span {
    display: inline-block;
    text-align: center;
    width: 50px;
}
.judge {
    margin-left: 50px;
}
#sumJudgeButton {
    height: 40px;
    width: 120px;
    background-color: aquamarine;
    margin-right: 60px;
}
#sumNextButton {
    height: 40px;
    width: 120px;
    background-color: rgb(48, 119, 217);
}
